[submodule "unnamed_project/vendor/spdlog"]
	path = unnamed_project/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "unnamed_project/vendor/GFLW"]
	path = unnamed_project/vendor/glfw
	url = https://github.com/WolfenGames/glfw.git
